*.png
*.DS_Store
Manifest.toml
*.cov
theta*
*.aux
*.bbl
*.blg
*.log
*.nlo
*.nls
*.out
*.gz
*.synctex*
*.pptx
*.docx
*.csv
*Manual*
*.vscode
*.png
*.pdf

# Generated polar conversion outputs
examples/**/airfoils/*_DMS.dat
